NOCODB_TOKEN=
BREVO_API_KEY=
BREVO_SENDER_EMAIL=wiseup@euneos.fr
EQUIPE_EMAIL=contact@euneos.fr
BREVO_LIST_ETABLISSEMENT=
BREVO_LIST_PARTENAIRE=
BREVO_LIST_CURIEUX=
BREVO_DOI_TEMPLATE_ID=
HOOK_SECRET=
